html{
  background: rgb(58, 81, 53);
  color:rgb(208, 208, 96)
}

h1{
  text-align: center;
  background-color: rgb(6, 135, 247);
  font-weight:bolder;
}

h2{
  text-align: center;
  background-color: rgb(28, 28, 21);
}

*{
 font-family: Arial, Helvetica, sans-serif;
}

